<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrueFalseAPI | Suggest</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div id="suggest">
      <form action="/suggest" method="POST">
        <h1 id="suggestTitle" class="blue-dark">
          Suggest a True/False statement for the database!
        </h1>
        <label for="statement">Statement</label>
        <input
          type="text"
          id="statement"
          name="statement"
          placeholder="ie. Bananas are berries"
          required
        />
        <label for="source">Source</label>
        <input
          type="link"
          id="source"
          name="source"
          placeholder="Proving statement true/false"
          required
        />

        <label for="is_true">Is it factual?</label>
        <select id="is_true" name="is_true" required>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <label for="category">Category</label>
        <select id="category" name="category" required>
          <option value="animals">Animals</option>
          <option value="food">Food</option>
          <option value="science">Science</option>
          <option value="history">History</option>
          <option value="geography">Geography</option>
          <option value="sports">Sports</option>
          <option value="entertainment">Entertainment</option>
        </select>

        <button class="submitButton" type="submit">Submit</button>
      </form>
    </div>
    <footer>
      <div id="links">
        <a href="/">Home</a> | <a href="/docs">Docs</a> |
        <a href="/suggest">Suggest</a>
      </div>
      <p class="footerText">
        <!-- Open in new tab -->
        Made with ❤️ by
        <a href="https://nostew.com" target="_blank">Noah Stewart</a>
      </p>
      <div>
        <p class="footerText">
          Feeling extra appreciative?
          <a href="https://buymeacoffee.com/nostew" target="_blank"
            >Buy me a coffee ☕️</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
